@use 'bootstrap/scss/functions';

$primary: #1db954;
$dark: #121212;
$gray-dark: #282828;
$gray: #535353;
$light-gray: #b3b3b3;
$white: #ffffff;

// @use 'bootstrap/scss/variables' as *;
// @use 'bootstrap/scss/mixins';